.prose {
	@apply flex flex-col gap-4 items-start mx-auto max-w-[60dvw];

    & > * {
        width: 100%;
    }

	& hgroup {
		@apply my-32 text-center;
	}

	& h1 {
		@apply text-primary text-left text-headline-large;
	}

	& h2 {
		@apply text-tertiary text-headline-medium;
	}

	& h3 {
		@apply text-tertiary text-headline-small;
	}

	& #table-of-contents + ul a {
		text-decoration: none;
		font-weight: inherit;
	}

	& p > a,
	& li > a {
		@apply text-primary;
		text-decoration: underline;
		text-decoration-color: rgb(var(--color-primary) / 1);
	}

	& p,
	& li {
		@apply text-body-medium;
	}

	& iframe,
	& video,
	& pre,
	& .rehype-code-title {
		@apply max-w-[100dvw];
	}

	& img {
		justify-self: center;
	}

	& li > ul {
		@apply mb-0 mt-2 pl-4;

		& > li::before {
			content: none;
		}
	}

	& ul,
	& ol {
		@apply grid gap-x-2;
	}

	& ul li::before {
		content: url('https://m3.material.io/static/assets/list-bullet-dark.svg');
		@apply pr-3;
	}

	& ol {
		list-style-type: decimal;
	}

	& li > ol {
		@apply mt-2 mb-4;
	}

	& blockquote {
		@apply p-8 ring ring-primary rounded-md;

		& p {
			@apply mb-0;
		}
	}

	& details {
		& summary {
			@apply mb-8 text-title-medium capitalize;
		}
	}
}
