.code-wrap {
	@apply bg-surface-variant overflow-auto rounded-md;

	& code[class*='language-'],
	& pre[class*='language-'] {
		@apply px-0 text-left text-label-large;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		tab-size: 4;
		hyphens: none;
		font-family: 'Fira Code', monospace;
	}

	& pre > code {
		counter-reset: step;
		counter-increment: step 0;
	}

	& pre {
		@apply p-4 overflow-x-auto;
		& .line {
			@apply transition-colors;

			&:hover {
				@apply bg-surface;
			}

			&::before {
				@apply mr-4 py-0 pl-4 pr-6 w-4 text-secondary inline-block -ml-2 text-left border-r border-outline;
				content: counter(step);
				counter-increment: step;
				transition: border 200ms;

				&:hover {
					@apply border-r-4;
				}
			}
		}
	}
}