@property --color-purple {
	syntax: '<color>';
	inherits: false;
	initial-value: #c792ea;
}

@property --color-yellow {
	syntax: '<color>';
	inherits: false;
	initial-value: #ffcb6b;
}

@property --color-green {
	syntax: '<color>';
	inherits: false;
	initial-value: #a5e844;
}
@property --color-blue {
	syntax: '<color>';
	inherits: false;
	initial-value: #89ddff;
}
@property --color-turquoise {
	syntax: '<color>';
	inherits: false;
	initial-value: #80cbc4;
}
@property --color-gray {
	syntax: '<color>';
	inherits: false;
	initial-value: #616161;
}
@property --color-red {
	syntax: '<color>';
	inherits: false;
	initial-value: #ff6666;
}
@property --color-yellow2 {
	syntax: '<color>';
	inherits: false;
	initial-value: #f2ff00;
}
@property --color-orange {
	syntax: '<color>';
	inherits: false;
	initial-value: #fd9170;
}
